<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <title>Detect Phishing</title>
</head>
<body>
    <form method="POST">
        <label for="url">URL</label>
        <input type="text" class="form-control" name="url" id="url">
        <button type="button">Check URL</button>
    </form>

    <div id="result"></div>
    
    <script type="text/javascript" src="assets/bootstrap.bundle.min.js"></script>
</body>
</html>